* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
}

.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app_header h1 {
  color: red;
}

.app_dropDown {
  background-color: white;
}

.app_left {
  width: 75%;
  padding: 6px;
}

.app_right {
  display: flex;
  flex-direction: column;
  padding: 6px;
  width: 25%;
}

.app_dropDown {
  display: flex;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .app {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .app_left, .app_right {
    padding: 0;
  }

  .app_left {
    width: 100%;
  }

  .app_right {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {

  .app {
    padding: 8px;
  }

  .app_left, .app_right {
    padding: 0;
  }

  .app_header h1 {
    font-size: larger;
  }

  .app_stats {
    flex-direction: column;
  }
}
