.graph {
  height: 200px;
  margin: 30px 0;
}

.line {
  height: 100%;
}
.chartjs-render-monitor {
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .graph h1 {
    font-size: larger;
  }
}
