.list {
  overflow-y: scroll;
  height: 400px;
  background-color: white;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.list-item:nth-of-type(odd) {
  background-color: #f3f2f8;
}

@media only screen and (max-width: 500px) {
  .table h2 {
    font-size: larger;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
